h1 {
    color:red
}

p {
    color:#0000ff
}

#container p{
    color:rgb(11, 246, 168);
    font-size: 24px;
}

.borde-todos{
    border: 1px solid #ff0000;
}

#padre {
               
    width: 300px;
    height: 300px;
}

#hijo{
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 50px;
}

#sub-hijo{
    color:rgb(225, 0, 255);
}
